<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Produtos mais Vendidos
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="/admin">Relatórios</a></li>
    <li class="active"><a href="/admin/pie-report">Mais Vendidos</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">

            <div class="box-body no-padding">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 10px">N°</th>
                    <th>Nome do Produto</th>
                    <th>Quantidade</th>
                  </tr>
                </thead>
                <tbody>
                  {loop="$report"}
                  <tr>
                    <td>{$value.idproduct}</td>
                    <td>{$value.desproduct}</td>
                    <td>{$value.nrqtd}</td>
                  </tr>
                  {/loop}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
    </div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->