<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Cuidados e Manutenção</h2>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Page title area -->

<div class="container">
    <br>
    <br>
  <h4>Veja como manter a vida longa de sua poltrona.</h4>
  <table class="table">
    <thead>
        <tr> <!-- Button one -->
            <th>
                <button class="btn btn-default btn-lg btn-block" data-toggle="collapse" data-target="#pol-dica">Dicas <span class="glyphicon glyphicon-thumbs-up"></span></button>
                <div id="pol-dica" class="collapse">
                    <div class="btn-group-vertical btn-block" role="group" aria-label="...">
                    <!-- Topic one -->
                        <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#pol-sobre">Sobre <span class="glyphicon glyphicon-info-sign"></span></button>
                        <div id="pol-sobre" class="collapse">
                            <br>
                            <p>Dicas de Manutenção e Limpeza do Couro sintético:</p>
                            <p>O Couro Sintético é feito de revestimento poliuretano de resina. Comparado com o couro genuíno, o couro sintético é mais resistente ao ácido, calor e luz do sol. No entanto, devido às suas propriedades químicas, não deve ser colocado em locais com poeira, alta temperatura, umidade, sol forte e evitar o contato com liquidos solventes. Caso contrário será facilmente danificado.</p>
                        </div>
                  <!-- Topic two -->
                        <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#pol-limpar">Como Limpar <span class="glyphicon glyphicon-tint"></span></button>
                        <div id="pol-limpar" class="collapse">
                            <br>
                            <p>Métodos de limpeza do couro sintético e precauções:</p>
                            <p>● Usar somente ÁLCOOL para limpeza em gel ou líquido para toda a superfície da poltrona;</p>
                            <p>● Água ou sabão em pó não poderão ser usados para a limpeza da superfície, ou haverá rachaduras;</p>
                            <p>● Ter a poltrona em um local com boa ventilação que não seja nem muito seco e nem muito úmido;</p>
                            <p>● Evitar a exposição direta aos raios de sol, ar condicionado, vento, caso contrário a superfície de couro será danificada. Sua exposição direta ao sol fará com que o couro tenha suas cores desbotadas;</p>
                            <p>● Não usar a Poltrona com o corpo molhado;</p>
                            <p>● Não permitir o contato de suor com o couro sintético;</p>
                        </div>
                    </div>       
                </div> 
            </th>
        </tr>
  </table>
</div>
