<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Envio e Frete</h2>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Page title area -->

<div class="container">
    <br>
    <br>
  <h4>Confira nossos métodos de envio e taxas e tire todas as suas dúvidas.</h4>          
  <table class="table">
    <thead>
        <tr> <!-- Button one -->
            <th>
                <button class="btn btn-default btn-lg btn-block" data-toggle="collapse" data-target="#pol-frete">Frete <span class="glyphicon glyphicon-plane"></span></button>
                <div id="pol-frete" class="collapse">
                    <div class="btn-group-vertical btn-block" role="group" aria-label="...">
                    <!-- Topic one -->
                        <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#pol-prazo">Prazo <span class="glyphicon glyphicon-hourglass"></span></button>
                        <div id="pol-prazo" class="collapse">
                            <br>
                            <p>Contratamos transportadoras terceirizadas para o transporte das poltronas de massagem e solicitamos a coleta no primeiro dia útil após a confirmação de pagamento do pedido. A partir deste momento se inicia o prazo de entrega.</p>
                            <p>Prazos normais:</p>
                            <p>● Para o Estado de São Paulo a entrega é feita em até 3 dias úteis para capital e 4 dias para interior;</p>
                            <p>● Para as regiões Norte o prazo é de 15 dias úteis e Nordeste o prazo é de 12 dias úteis;</p>
                            <p>● Para os demais Estados a entrega é feita em até 7 dias úteis;</p>
                            <p>(Feriados podem interferir nestes prazos)</p>
                        </div>
                  <!-- Topic two -->
                        <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#pol-valor">Valor <span class="glyphicon glyphicon-usd"></span></button>
                        <div id="pol-valor" class="collapse">
                            <br>
                            <p>Valor da entrega: </p>
                            <p>● O frete é GRÁTIS para as capitais do Rio de Janeiro e São Paulo.</p>
                            <p>● O Cálculo do valor da entrega para os demais locais varia de acordo com a sua região, volume e peso. O Valor é calculado mediante solicitação através do nosso Televendas, lá oferecemos as melhores formas para atende-lo.</p>
                            <br>
                            <p>Envio pelos correios:</p>
                            <p>● Massageadores;</p>
                            <p>● Produtos de pequeno porte, de uma forma geral;</p>
                            <br>
                            <p>Envio através de Transportadora:</p>
                            <p>● Poltronas;</p>
                        </div>
                    </div>       
                </div> 
            </th>
        </tr>
        <tr>
            <th><!-- Button two -->
                <button class="btn btn-default btn-lg btn-block" data-toggle="collapse" data-target="#pol-tax">Impostos <span class="glyphicon glyphicon-globe"></span></button>
                <div id="pol-tax" class="collapse">
                            <!-- Topic one -->
                            <br>
                            <p>Os impostos já estão calculados junto ao frete assim para os estados de destino cuja sigla é: </p>
                            <p>BA, CE, DF, ES, GO, MT, MS, PA, RO, AC, AL, AP, MA, PB, PE, PI, RR, SE, TO conforme legislação vigente será calculado o valor ICMS sobre compras fora do estado, neste momento em 10% do valor da Nota Fiscal (Produto + frete) e poderá ser pago também parcelado pelo cartão de crédito ou à vista conforme sua escolha, outros Estados não listados acima poderão a qualquer tempo entrar na lista acima por força de leis estaduais, assim sendo para qualquer compra fora do Estado de origem (São Paulo), estão sujeitos à tributação. As guias são recolhidas antes do embarque na transportadora.</p>
                            <p>Caso haja alguma dúvida, entre em contato conosco: <a href="mailto:revitale01@gmail.com">revitale01@gmail.com</a> ou nos telefones:</p>
                            <p>(21) 4141-0921 - Capital</p>
                            <p>(21) 98538-1000 - Celular</p>
                        </div>     
                </div> 
            </th>
        </tr>
  </table>
</div>
