<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Pagamentos</h2>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Page title area -->

<div class="container">
    <br>
    <br>
  <h4>Confira nossos métodos de pagamentos e condições e tire todas as suas dúvidas.</h4>          
  <table class="table">
    <thead>
        <tr> <!-- Button one -->
            <th>
                <button class="btn btn-default btn-lg btn-block" data-toggle="collapse" data-target="#pol-pay">Formas de Pagamento <span class="glyphicon glyphicon-barcode"></span></button>
                <div id="pol-pay" class="collapse">
                    <div class="btn-group-vertical btn-block" role="group" aria-label="...">
                    <!-- Topic one -->
                        <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#pol-card">Cartão de Crédito/Débito <span class="glyphicon glyphicon-credit-card"></span></button>
                        <div id="pol-card" class="collapse">
                            <br>
                            <p>Não armazenamos nenhuma informação dos nossos clientes que não sejam as necessárias para efetivar uma transação. Armazenamos seu nome e CPF porque isso é exigido por lei para a emissão de nota fiscal e também para envios via SEDEX. Porém, não armazenamos o número do cartão de crédito, porque nossa loja não efetua a finalização da compra online. As informações cadastrais serão utilizadas somente para a efetivação do pagamento e para a entrega da compra. Nenhuma informação coletada será vendida ou cedida para terceiros.</p>
                        </div>
                  <!-- Topic two -->
                        <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#pol-deposito">Depósito Bancário <span class="glyphicon glyphicon-piggy-bank"></span></button>
                        <div id="pol-deposito" class="collapse">
                            <br>
                            <p>Após o depósito você deve enviar o comprovante por e-mail, o pedido será enviado no dia seguinte ao pagamento.</p>
                        </div>
                    </div>       
                </div> 
            </th>
        </tr>
        <tr>
            <th><!-- Button two -->
                <button class="btn btn-default btn-lg btn-block" data-toggle="collapse" data-target="#pol-parcel">Parcelamento <span class="glyphicon glyphicon-calendar"></span></button>
                <div id="pol-parcel" class="collapse">
                            <!-- Topic one -->
                            <br>
                            <p>Nossos métodos de parcelamento são: </p>
                            <p>● Até 10x sem juros para poltronas NOVAS;</p>
                            <p>● Até 6x sem juros para poltronas SEMINOVAS;</p>
                            <p>● Até 6x sem juros para massageadores;</p>
                            <br>
                             <p>Caso haja alguma dúvida, entre em contato conosco: <a href="mailto:revitale01@gmail.com">revitale01@gmail.com</a> ou nos telefones:</p>
                            <p>(21) 4141-0921 - Capital</p>
                            <p>(21) 98538-1000 - Celular</p>
                        </div>     
                </div> 
            </th>
        </tr>
  </table>
</div>
