<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Segurança</h2>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Page title area -->

<div class="container">
    <br>
    <br>
  <h4>Nosso site não finaliza compras online, sendo assim, atua somente como uma vitrine para os reais produtos da loja física, que o torna mais seguro para sua compra.</h4>
  <table class="table">
    <thead>
        <tr> <!-- Button one -->
            <th>
                <button class="btn btn-default btn-lg btn-block" data-toggle="collapse" data-target="#pol-certificado">Certificado de Segurança <i class="fa fa-lock"></i></button>
                        <div id="pol-certificado" class="collapse">
                            <br>
                            <p>O site da Revitale Import é protegido pelo melhor e mais conhecido certificado de segurança na Internet, o COMODO. Essa certificação de segurança é instalada em nossos servidores e atuam de forma preventiva contra possíveis ataques e danos ao site. Por isso sua compra se torna muito mais segura com esse Certificado SSL (Secure Socket Layer). A Comodo atua em mais de 200 mil websites no mundo, são reconhecidos por 99,3% de versões de navegadores, não atrapalham a velocidade do site e ainda possuem sede no Brasil.</p>
                            <p>Assim, as informações que você digita (seus dados pessoais e qualquer outra informação fornecida no processo de compra), são criptografadas (codificadas) antes de ser transmitida. O ícone "cadeado fechado" na parte inferior do seu monitor durante o preenchimento dos dados é um símbolo da criptografia das informações. As senhas armazenadas no site também estão criptografadas. Faça a sua compra tranqüilo, sabendo que você navega num site seguro.</p>
                        </div>
            </th>
        </tr>
  </table>
</div>
