<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Assistência Técnica</h2>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Page title area -->

<div class="container">
    <br>
    <br>
  <p><h4>Precisa de assistência técnica ?</h4></p>
  <h4>Ligue: (21) 4141-0921</h4>
  (seg a sex: 12:00 as 17:00)
  <table class="table">
    <thead>
        <tr> <!-- Button one -->
            <th>
                <button class="btn btn-default btn-lg btn-block" data-toggle="collapse" data-target="#pol-assistencia">Política de Assistência <span class="glyphicon glyphicon-wrench"></span></button>
                <div id="pol-assistencia" class="collapse">
                    <div class="btn-group-vertical btn-block" role="group" aria-label="...">
                    <!-- Topic one -->
                        <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#pol-sobre">Sobre <span class="glyphicon glyphicon-info-sign"></span></button>
                        <div id="pol-sobre" class="collapse">
                            <br>
                            <p>Sobre a Assistência Técnica:</p>
                            <p>● Após o término da garantia, todo e qualquer serviço executado serão custeados pelo cliente.</p>
                            <p>● O Cliente que precisar da assistência técnica deverá OBRIGATORIAMENTE ter adquirido um de nossos produtos diretamente conosco. A Revitale Import não realiza assistência técnica para poltronas compradas em outros sites ou de outros modelos não comercializados pela empresa.</p>
                        </div>
                  <!-- Topic two -->
                        <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#pol-pedindo">Pedindo Assistência <span class="glyphicon glyphicon-phone-alt"></span></button>
                        <div id="pol-pedindo" class="collapse">
                            <br>
                            <p>Ao acionar a assistência técnica, o cliente poderá optar por dois caminhos:</p>
                            <p>● Envio da Poltrona para nossa sede técnica: Neste caso o cliente deverá encaminhar a poltrona para nossa sede para uma análise e orçamento. A sede fica em Rio de Janeiro/RJ e a Revitale Import poderá dispor de algumas transportadoras para a coleta e transporte da poltrona ao cargo do cliente. Após análise técnica, será enviado um orçamento completo para aceite do cliente.</p>
                            <p>● Visita do técnico na residência: Neste segundo caso, o técnico contratado pela Revitale Import irá deslocar-se em uma data à combinar até a residência do cliente para uma primeira visita de análise. Essa visita possui o preço de R$ 300,00 e deverá ser custeada pelo cliente. Após análise, caso não seja possível a resolução de imediato na primeira visita devido à falta de peças, o técnico irá informar à Revitale Import as peças necessárias para o serviço. Após isso, a Revitale Import entrará em contato com o cliente com um novo orçamento, incluindo o preço da PEÇA e MÃO de OBRA. Com o aceite do cliente, o técnico fará uma segunda visita SEM CUSTO de visita para finalização do serviço. As formas de pagamento da manutenção poderão ser negociadas diretamente com a Revitale Import.</p>
                        </div>
                  <!-- Topic three -->
                        <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#pol-obs">Observação <span class="glyphicon glyphicon-exclamation-sign"></span></button>
                        <div id="pol-obs" class="collapse">
                            <br>
                            <p>● Realizamos a assistência domiciliar em todos os Estados e Cidades.</p>
                            <br>
                            <strong>
                            <p>● Caso sejam chamados nossos técnicos, e não for detectado nenhum tipo de problema, será cobrada a tarifa padrão de visita.</p>
                            </strong>
                        </div>
                    </div>       
                </div> 
            </th>
        </tr>
  </table>
</div>
