<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Garantia e Reembolso</h2>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Page title area -->

<div class="container">
    <br>
    <br>
  <h4>Confira nossa política de garantia e reembolso e tire todas as suas dúvidas.</h4>          
  <table class="table">
    <thead>
        <tr> <!-- Button one -->
            <th>
                <button class="btn btn-default btn-lg btn-block" data-toggle="collapse" data-target="#pol-garantia">Política de Garantia <span class="glyphicon glyphicon-tags"></span></button>
                <div id="pol-garantia" class="collapse">
                    <div class="btn-group-vertical btn-block" role="group" aria-label="...">
                    <!-- Topic one -->
                        <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#pol-tempo">Tempo <span class="glyphicon glyphicon-time"></span></button>
                        <div id="pol-tempo" class="collapse">
                            <br>
                            <p>Oferecemos garantia de: </p>
                            <p>● 1 ano para as poltronas de massagem NOVAS;</p>
                            <p>● 6 meses para as poltronas de massagem SEMINOVAS;</p>
                            <p>● 6 meses para os massageadores NOVOS;</p>
                            <p>Comprados em nosso site ou loja física.</p>
                        </div>
                  <!-- Topic two -->
                        <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#pol-sobre">Sobre <span class="glyphicon glyphicon-info-sign"></span></button>
                        <div id="pol-sobre" class="collapse">
                            <br>
                            <p>● Somos referência no Rio de Janeiro e estamos a mais 7 anos no mercado, oferecendo os melhores produtos.</p>
                            <p>● No período de garantia, todos os custos de peças e serviços ficarão à cargo da empresa.</p>
                        </div>
                  <!-- Topic three -->
                        <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#pol-nao">Não se Enquadra <span class="glyphicon glyphicon-remove"></span></button>
                        <div id="pol-nao" class="collapse">
                            <br>
                            <p>NÃO SE ENQUADRARÃO na garantia os seguintes cenários:</p>
                            <p>● Danos e alterações referentes ao desgaste normal do aparelho e seu uso conforme o tempo;</p>
                            <p>● Negligência de uso indevido, abuso, manutenção por terceiros ou inadequada, distúrbios elétricos e surtos de tensão, ações da natureza, ou modificações por outras pessoas;</p>
                            <p>● Ambiente operacional impróprio;</p>
                            <p>● Dano ou defeito que seja causado por intervenção humana, animal de estimação ou qualquer outro;</p>
                            <p>● Dano ou defeito causado por qualquer líquidos de qualquer natureza;</p>
                            <p>● Aluguel de negócios, comercial, institucional ou outro uso não residencial no caso das poltronas de categoria residencial;</p>
                        </div>
                  <!-- Topic four -->
                        <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#pol-obs">Observação <span class="glyphicon glyphicon-exclamation-sign"></span></button>
                        <div id="pol-obs" class="collapse">
                            <br>
                            <p>Qualquer anomalia causada por circunstâncias fora do controle da Empresa, seja danos ou mau funcionamento resultantes de mau uso ou abuso do cliente, o usuário será responsável por todas as partes, incluindo custos e transporte de retorno. Sob nenhuma circunstância, a Empresa será responsabilizada por danos especiais, incidentais ou consequentes.</p>
                            <br>
                            <strong>
                            <p>ATENÇÃO: NÃO PRESTAMOS ASSISTÊNCIA TÉCNICA PARA POLTRONAS DE OUTRAS MARCAS QUE NÃO FORAM ADQUIRIDAS NO SITE DA REVITALE IMPORT.</p>
                            </strong>
                        </div>
                    </div>       
                </div> 
            </th>
        </tr>
        <tr>
            <th><!-- Button two -->
                <button class="btn btn-default btn-lg btn-block" data-toggle="collapse" data-target="#pol-reembolso">Política de Reembolso <span class="glyphicon glyphicon-refresh"></span></button>
                <div id="pol-reembolso" class="collapse">
                            <!-- Topic one -->
                            <br>
                            <p>Nossos clientes terão a possibilidade de reembolso de acordo com os seguintes itens:</p>
                            <p>● No produto que venha apresentar defeito preexistente constatado por laudo técnico, ficando a critério do cliente a troca do produto/peça ou reembolso integral do montante pago (frete e produto) em até 30 dias, sendo responsabilidade da empresa a remoção do mesmo.</p>
                            <p>obs: caso constatado mau uso do mesmo, o reembolso passará a ser parcial (somente o produto) e o valor de reparo/peça e transporte pode ser descontado do produto.</p>
                            <br>
                            <p>● Na desistência da compra em até 7 dias após a data de confirmação do pagamento, sendo feito o :</p>
                            <p>- Reembolso total (frete + produto) caso ainda não tiver sido enviado ou contratado serviço de transportadora.</p>
                            <p>- Reembolso parcial (somente produto) caso já tenha sido enviado para o endereço de compra do cliente, sendo responsabilidade da empresa a remoção do mesmo.</p>
                            <p>obs: O produto deve retornar nas mesmas condições de conservação em que foi enviado(embalagem não violada), caso constatado sinais de uso (riscos, manchas, cortes ou desgaste) nos produtos classificados como novos ou mau uso do mesmo, o reparo/peça e transporte pode ser descontado do valor do produto.</p>
                </div>
            </th>
        </tr>
  </table>
</div>
